# to clear the result cache, run 'vendor/bin/phpstan clear-result-cache'
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 8

    checkGenericClassInNonGenericObjectType: false

    paths:
        - src
        - tests

    excludePaths:
        - tests/Fixtures/Views
